<section>
  <div>
    <span class="tact-label">Tact</span>
    <span class="tact-description">
      Unleashing the power of TON with safe and scalable smart contracts
    </span>
  </div>
  <!-- <div>
    <div class="tact-buttons">
      <button tuiButton type="button" appearance="outline">Try online</button>
      <button tuiButton type="button" appearance="outline">Features</button>
      <button tuiButton type="button" appearance="outline">Security</button>
      <button tuiButton type="button" appearance="outline">Key resources</button>
      <button tuiButton type="button" appearance="outline">Installation</button>
      <button tuiButton type="button" appearance="outline">Community</button>
      <button tuiButton type="button" appearance="outline">Contributing</button>
      <button tuiButton type="button" appearance="outline">Going places</button>
    </div>
  </div> -->
</section>
