@use 'src/styles';

:host {
  display: block;
}

section>div {
  max-width: 850px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;

  @include styles.b(mobile) {
    flex-direction: column;
    align-items: flex-start;
  }
}

.tact-label {
  margin-right: 24px;
  color: var(--blue);
  font-weight: styles.$font-weight-extra-bold;
  font-size: 80px;
  line-height: 138px;
  text-transform: uppercase;
  cursor: default;

  @include styles.b(tablet) {
    font-size: 63px;
    line-height: 84px;
  }

  @include styles.b(mobile) {
    font-size: 72px;
    line-height: 95px;
  }
}

.tact-description {
  /* max-width: 640px; */
  max-width: 720px;
  /* font-size: 32px; */
  font-size: 36px;
  /* line-height: 40px; */
  color: var(--gray-200);
  text-transform: uppercase;
  text-align: center;
  cursor: default;

  @include styles.b(tablet) {
    max-width: 640px;
    font-size: 32px;
    line-height: 36px;
  }

  @include styles.b(mobile) {
    text-align: left;
    max-width: 560px;
    font-size: 28px;
  }
}

.tact-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 12px;
  max-width: 700px;
  transition: all 0.2s;

  @include styles.b(mobile) {
    justify-content: left;
  }

  >button,
  >a {
    font-weight: 500;
    height: 2.5rem;
    margin-top: 8px;
    margin-right: 16px;

    /* &:not(:last-child) {
      margin-right: 16px;
    } */

    @include styles.b(tablet) {
      margin-right: 12px;
    }

    @include styles.b(mobile) {
      margin-right: 8px;
    }
  }
}
