<section>
  <div>
    <!-- <span class="tact-label">Tact</span> -->
    <span class="tact-description">
      Unleashing the power of TON with safe and scalable smart contracts
    </span>
  </div>
  <div>
    <div class="tact-buttons">
      <a tuiButton type="button" appearance="outline" href="#what-is-tact">About</a>
      <a tuiButton type="button" appearance="outline" href="#mass-adoption">Mass adoption</a>
      <a tuiButton type="button" appearance="outline" href="#features">Features</a>
      <a tuiButton type="button" appearance="outline" href="#tooling">Tooling</a>
      <a tuiButton type="button" appearance="outline" href="#security">Security</a>
      <a tuiButton type="button" appearance="outline" href="#community">Community</a>
      <a tuiButton type="button" appearance="outline" href="#start">Quick start</a>
      <!-- <a tuiButton type="button" appearance="outline" href="#links">Links</a> -->
    </div>
  </div>
</section>
