@use 'src/styles';

:host {
  display: block;
}

section {
  display: flex;
  align-items: center;
}

.tact-label {
  margin-right: 24px;

  color: var(--blue);
  font-weight: styles.$font-weight-extra-bold;
  font-size: 104px;
  text-transform: uppercase;
  cursor: default;
}

.tact-description {
  max-width: 540px;

  font-size: 37px;
  text-transform: uppercase;
  cursor: default;
}
