@use 'src/styles';

:host {
  display: block;
}

section {
  display: flex;
  align-items: center;

  @include styles.b(mobile) {
    flex-direction: column;
    align-items: flex-start;
  }
}

.tact-label {
  margin-right: 24px;

  color: var(--blue);
  font-weight: styles.$font-weight-extra-bold;
  font-size: 104px;
  line-height: 138px;
  text-transform: uppercase;
  cursor: default;

  @include styles.b(tablet) {
    font-size: 63px;
    line-height: 84px;
  }

  @include styles.b(mobile) {
    font-size: 72px;
    line-height: 95px;
  }
}

.tact-description {
  max-width: 733px;

  font-size: 37px;
  line-height: 49px;
  color: var(--gray-200);
  text-transform: uppercase;
  cursor: default;

  @include styles.b(tablet) {
    max-width: 440px;

    font-size: 22px;
    line-height: 30px;
  }

  @include styles.b(mobile) {
    font-size: 28px;
    line-height: 40px;
  }
}
