@use 'src/styles';

$burger-color: #c4c4c4;

header {
  display: flex;
  justify-content: space-between;
  margin-top: 18px;

  background: transparent;

  img {
    opacity: 1;
    transition: opacity 0.3s ease-in-out
  }

  @include styles.burgerOpened {
    img {
      opacity: 0.5;
    }
  }
}

.links-container {
  display: flex;

  @include styles.b(mobile) {
    display: none;
  }
}

.link {
  &:not(:last-child) {
    margin-right: 48px;
  }
}

.burger {
  position: relative;

  display: none;

  @include styles.b(mobile) {
    display: block;
  }

  span {
    display: block;
    width: 18px;
    height: 2px;

    margin-bottom: 6px;

    background-color: $burger-color;
    border-radius: 1px;

    transition: transform 0.3s ease-in-out;
  }

  &_opened {
    span {
      &:first-child {
        transform: translateY(4px) rotate(45deg);
      }

      &:nth-child(2) {
        transform: translateY(-4px) rotate(-45deg);
      }
    }
  }
}

::ng-deep {
  tui-dropdown-box {
    background-color: var(--gray-600) !important;
    border: none !important;
  }

  tui-scrollbar {
    background-color: var(--gray-600) !important;
  }
}

.dropdown-content {
  position: absolute;
  top: 35px;
  right: -16px;

  width: 196px;

  max-height: 0;

  padding: 12px 20px;
  overflow: hidden;
  z-index: 100;

  background-color: var(--gray-600);

  border-radius: 20px;
  opacity: 0;

  transition: opacity 0.3s ease-in-out, max-height 0.3s ease-in-out;

  > a {
    &:not(:last-child) {
      margin-bottom: 24px;
    }
  }

  &_opened {
    max-height: 208px;

    opacity: 1;
  }
}
