<header>
  <img src="assets/images/icons/logo.png" alt="logo" width="97px" height="26px" />
  <div class="links-container">
    <a class="link" [link]="LINKS.DESIGN">Design</a>
    <a class="link" [link]="LINKS.SPECIFICATION">Specification</a>
    <a class="link" [link]="LINKS.GITHUB">Github</a>
    <a class="link" [link]="LINKS.TELEGRAM">Telegram</a>
  </div>
  <tui-hosted-dropdown [content]="content" [(open)]="burgerOpened" (openChange)="burgerToggled()">
    <button class="burger" [class.burger_opened]="burgerOpened">
      <span></span>
      <span></span>
    </button>

    <ng-template #content>
      <div class="dropdown-content">
        <a [link]="LINKS.DESIGN">Design</a>
        <a [link]="LINKS.SPECIFICATION">Specification</a>
        <a [link]="LINKS.GITHUB">Github</a>
        <a [link]="LINKS.TELEGRAM">Telegram</a>
      </div>
    </ng-template>
  </tui-hosted-dropdown>
</header>
