$blue: #48b5ff;
$yellow: #ffc266;
$purple: #bc8fff;
$orange: #ff7661;
$gray-150: #b8c0cc;
$gray-200: #aeb6c2;
$gray-300: #99a1ad;
$gray-400: #818b99;
$gray-500: #5f6670;
$gray-600: #1c2129;
$gray-700: #171b21;
$gray-900: #0d1014;
$white: #fff;

html {
  --blue: #{$blue};
  --yellow: #{$yellow};
  --purple: #{$purple};
  --orange: #{$orange};
  --gray-150: #{$gray-150};
  --gray-200: #{$gray-200};
  --gray-300: #{$gray-300};
  --gray-400: #{$gray-400};
  --gray-500: #{$gray-500};
  --gray-600: #{$gray-600};
  --gray-700: #{$gray-700};
  --gray-900: #{$gray-900};
  --white: #{$white};
}
