@use './mixins';

.font-header {
  @include mixins.font-header();
}

.font-header-2 {
  @include mixins.font-header-2();
}

.inline-link {
  position: relative;

  display: inline;
  height: 1.75em;
  padding: 0.2em 0;

  color: var(--blue);
  text-decoration: none;

  cursor: pointer;

  &:hover {
    color: var(--blue);
  }

  &::after {
    position: absolute;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 0.1em;

    background-color: var(--blue);

    transform: scale(0);
    transform-origin: center;
    opacity: 1;

    transition: opacity 300ms, transform 300ms;

    content: '';
  }

  &:hover::after,
  &:focus::after {
    transform: scale(1);
  }
}
