@mixin font-face(
  $font-family,
  $file-path,
  $weight,
  $style: normal
) {
  @font-face {
    font-weight: $weight;
    font-family: $font-family;
    font-style: $style;
    font-display: block;

    src: url('#{$file-path}.woff2') format('woff2'), url('#{$file-path}.woff') format('woff'),
      url('#{$file-path}.eot'), url('#{$file-path}.ttf') format('truetype');
  }
}

@mixin clearfix {
  &::after {
    display: block;
    clear: both;

    content: ' ';
  }
}

@mixin dark {
  :host-context(html.dark) & {
    @content;
  }
}


@mixin bh($point) {
  @media (max-height: $point + 'px') {
    @content;
  }
}

@mixin b($point) {
  @if $point==desktop {
    @media (max-width: 1366px) and (min-width: 1024px) {
      @content;
    }
  } @else if $point==tablet {
    @media (max-width: 1000px) {
      @content;
    }
  } @else if $point==mobile {
    @media (max-width: 767px) {
      @content;
    }
  } @else if $point==mobile3x {
    @media only screen and (-webkit-min-device-pixel-ratio: 3),
      only screen and (min-resolution: 3dppx),
      only screen and (min-resolution: 350dpi) {
      @content;
    }
  } @else {
    @media (max-width: $point + 'px') {
      @content;
    }
  }
}

@mixin bb($pointMax, $pointMin) {
  @media (max-width: $pointMax + 'px') and (min-width: $pointMin + 'px') {
    @content;
  }
}
