$jet-brains-mono-font: JetBrains-Mono, sans-serif;
$inter-font: Inter, sans-serif;

$font-size-s: 14px;
$font-size-m: 16px;
$font-size-l: 18px;

$font-weight-normal: 500;
$font-weight-bold: 700;
$font-weight-extra-bold: 800;
