@use "src/styles";

:host {
  display: block;
}

main {
  margin-top: 70px;

  @include styles.b(tablet) {
    margin-top: 57px;
  }

  @include styles.b(mobile) {
    margin-top: 65px;
  }
}

app-main-page-title {
  margin-bottom: 60px;

  @include styles.b(tablet) {
    margin-bottom: 48px;
  }
}

app-editors {
  margin-bottom: 44px;
}

app-code-examples-select {
  margin-bottom: 80px;
}

app-what-is-tact {
  margin-bottom: 76px;

  @include styles.b(tablet) {
    margin-bottom: 64px;
  }
}
