@use 'src/styles';

.main-wrapper {
  width: 100%;

  background-color: var(--gray-900);

  &__container {
    display: flex;
    flex-direction: column;
    max-width: styles.$width-limit;
    margin: 0 auto;
    padding: 0 72px;

    ::ng-deep > * {
      opacity: 1;
      transition: opacity 0.3s ease-in-out;
    }

    @include styles.burgerOpened {
      ::ng-deep > * {
        opacity: 0.5;
      }

      app-header {
        opacity: 1;
      }
    }

    @include styles.b(mobile) {
      padding: 0 24px;
    }
  }
}

