<section *tuiLet="funcCompilationResult$ | async as funcCompilationResult">
  <app-labeled-editor
    [language]="LANGUAGE.TACT"
    [value]="(tactCode$ | async) || ''"
    (valueChange)="onTactCodeChange($event)"
  ></app-labeled-editor>

  <div [class.error]="funcCompilationResult?.error">
    <app-labeled-editor
      [language]="LANGUAGE.FUNC"
      [disabled]="true"
      [value]="funcCompilationResult?.code || ''"
    ></app-labeled-editor>
    <app-compilation-error
      *ngIf="funcCompilationResult?.error"
      [errorText]="funcCompilationResult.error || ''"
    ></app-compilation-error>
  </div>
</section>
