:host {
  display: block;
}

section {
  display: flex;

  > app-labeled-editor:first-child {
    margin-right: 24px;
    flex: 1;
  }

  > div {
    position: relative;
    flex: 1;

    app-compilation-error {
      position: absolute;
      right: 16px;
      bottom: 16px;
    }

    &.error {
      ::ng-deep .ace_text-layer {
        opacity: 0.5;
      }
    }
  }
}

