<section>
    <h2 class="font-header tact-header">What is Tact?</h2>
    <article>
        <p>
            Tact is a fresh programming language for TON Blockchain, focused on efficiency and ease of development. It is a good fit for complex smart contracts, quick onboarding and rapid prototyping. Tact is a statically typed language with a <a href="#familiar-syntax">simple syntax</a> and <a href="#type-system">powerful type system</a>.
        </p>
    </article>
    <article id="familiar-syntax">
        <h3>Familiar syntax</h3>
        <p>
            Tact offers familiar syntax inspired by JavaScript & Typescript, Swift, Kotlin and Rust. Powerful features such as algebraic data types and compile-time execution look organic and friendly to new developers.
        </p>
        <app-code-snippet content='receive("increment") {
    self.val += 1;
} 

get fun value(input: Int): Int {
    return input + self.val; 
}' [adaptiveContent]='[
        {
          maxWidth: 600,
          content:
            "receive(\"increment\") {\n" +
            "    self.val += 1;\n" +
            "}\n\n" +
            "get fun value(input: Int): Int {\n" +
            "    return input + self.val;\n" +
            "}"
        }
      ]'></app-code-snippet>
    </article>

    <article id="type-system">
        <h3>
            Strong type system
        </h3>
        <p>
            Tact offers algebraic data types compatible with TL-B scheme. Arithmetic is always safe because integers have precise bounds. Tact compiler helps you perform necessary checks and does not produce silent failures or unexpected truncation.
        </p>
        <app-code-snippet content="struct ContractData {
   index: Int as uint32;
   admin: Address;
}"></app-code-snippet>
    </article>

    <article id="gas-control">
        <h3>Gas control</h3>
        <p>
            Blockchain programs have strict execution cost model. Every operation must be paid for in real time and execution may fail mid-way if it runs out of gas. 
        </p>
        <p>
            Tact makes cross-contract messages safe with precise gas commitments and compiler checks of the execution costs. Variable costs are either statically bounded, or checked explicitly in runtime. 
        </p>
        <app-code-snippet content='receive("sample message") {
    require(context().value >= ton("0.1"), "must pay at least 0.1 TON");
    // (....etc) // 
}'></app-code-snippet>
    </article>

    <article>
        <h3>Tact and FunC</h3>
        <p>
            FunC is a lower-level language aimed at developers who are deeply familiar with TON architecture. FunC liberates developers from writing raw Fift code, while providing the same level of control.
        </p>
        <p>
            Unfortunately, the precision of FunC makes it harder to write complex multi-contract systems.  
        </p>
        <p>
            Tact enables developers to go even further: you can write the entire suites of smart contracts with strongly typed interfaces and statically verified execution costs. With Tact you can focus on your problem and worry less about blockchain idiosyncrasies.
        </p>
    </article>

    <article>
        <h3>Bright future awaits</h3>
        <p>Tact is developed in the open source and open development model on <a [link]="LINKS.GITHUB" class="inline-link">Github</a> — suggestions, issues and bug fixes are welcome. In addition, GitHub provides syntax highlighting for Tact code across the website.</p>
        <p>Many Tact contracts have already been written and more and more projects are using Tact in production.</p>
        <p>
            To start writing ⚡ Tact yourself, see the <a [link]="LINKS.DOCSSTART" class="inline-link">Let's start</a> section on the main page of the <a [link]="LINKS.DOCS" class="inline-link">Tact Docs</a>. Good luck on your coding adventure!
        </p>
    </article>
</section>
