@use 'src/styles';

:host {
  display: block;
}

.tact-header {
  margin-top: 0;
  margin-bottom: 32px;
}

section {
  max-width: 700px;
}

article {
  margin-bottom: 48px;

  > h3 {
    @include styles.font-header-2();
    color: var(--gray-100);
    line-height: 32px;
    margin-top: 0;
    margin-bottom: 8px;
  }

  > p {
    margin-top: 12px;
    margin-bottom: 0;

    font-family: styles.$inter-font;
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
    letter-spacing: 0.04em;
    color: var(--gray-300);

    &:nth-child(2) {
      margin-top: 0;
    }
  }
}

app-code-snippet {
  width: 100%;
  margin-top: 20px;
}
