@use 'src/styles';

:host {
  display: block;
  /* a slightly darker --tui-primitive color */
  --tui-primary-hover: #488cff;
}

.tact-header {
  margin-top: 0;
  margin-bottom: 32px;
}

section {
  max-width: 850px;
  margin: 0 auto;
}

article {
  margin-bottom: 48px;

  >h3 {
    @include styles.font-header-2();
    color: var(--gray-100);
    line-height: 32px;
    margin-top: 0;
    margin-bottom: 8px;
  }

  >p,
  >div>p {
    margin-top: 12px;
    margin-bottom: 0;

    font-family: styles.$inter-font;
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
    letter-spacing: 0.04em;
    color: var(--gray-300);

    &:nth-child(2) {
      margin-top: 0;
    }

    >a {
      display: inline;
    }
  }

  >ul li {
    font-family: styles.$inter-font;
    font-size: 18px;
    line-height: 28px;
    /* font-weight: 300; */
    /* letter-spacing: 0.04em; */
    color: var(--gray-300);
  }

  a:not([btn]):not([tuiButton]) {
    position: relative;
    display: inline;
    height: 1.75em;
    padding: 0.2em 0;
    color: var(--blue);
    text-decoration: none;
    cursor: pointer;

    &:hover {
      color: var(--blue);
    }

    &::after {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 0.1em;
      background-color: var(--blue);
      transform: translateZ(0) scale(0);
      transform-origin: center;
      opacity: 1;
      transition: opacity 300ms, transform 300ms;
      content: '';
    }

    &:hover::after,
    &:focus::after {
      transform: translateZ(0) scale(1);
    }
  }
}

ul.ulist {
  list-style: none;
  padding-left: 6px;
  margin-top: 0.5rem;

  li {
    padding-left: 20px;
    position: relative;
    /* line-height: 1.5; */
    margin-bottom: 4px;
  }

  >li::before {
    content: "";
    position: absolute;
    top: 0.5rem;
    width: 10px;
    height: 10px;
    left: 0;
    background-color: var(--tui-primary);
    border-radius: 50%;
  }

  ul {
    list-style: none;
    padding-left: 20px;
    /* margin-top: 10px; */
  }

  /* ul>li {
    margin-bottom: 4px;
  } */

  ul>li::before {
    content: "";
    position: absolute;
    top: 0.5rem;
    width: 6px;
    height: 6px;
    left: 0;
    border: 2px solid var(--tui-primary);
    background-color: transparent;
    border-radius: 50%;
  }

  code {
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0em;
  }
}

app-code-snippet {
  width: 100%;
  margin-top: 20px;
}

.two-column {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.progress-percent {
  font: var(--tui-font-text-xl);
  color: var(--tui-primary);
}

.tooltip-text {
  display: block;
  margin: -1.25rem;
  padding: 1.25rem;
  background: var(--gray-600);
  font-family: styles.$inter-font;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  letter-spacing: 0.04em;
  color: var(--gray-200);
}

/* NOTE: ::ng-deep allows to circumvent the Angular's view encapsulation */
::ng-deep tui-hint-box::before {
  /* getting rid of an annoying random blue star */
  display: none !important;
}

::ng-deep circle.t-track {
  r: 1.810em !important;
  stroke-width: 0.1em !important;
}

.blue {
  /* --blue */
  color: var(--tui-primary);
}

/* tui-island, */
/* tui-island p { */
/* color: var(--gray-200); */
/* background-color: var(--gray-900); */
/* font-family: styles.$inter-font; */
/* letter-spacing: 0.04em; */
/* } */

/* tui-island button { */
/* padding-top: 0.5rem; */
/* padding-bottom: 0.5rem; */
/* } */

/* .tui-island__paragraph { */
/* aspect-ratio: 1 / 1; */
/* max-height: 8.5rem; */
/* font-weight: 400; */
/* font-size: 16px; */
/* line-height: 24px; */

/* @include styles.b(tablet) { */
/* aspect-ratio: initial; */
/* min-height: 5rem; */
/* } */
/* } */

/* Consider switching to https://taiga-ui.dev/v2/grid */
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 10px;
  transition: all 0.3s;

  @include styles.b(tablet) {
    grid-template-columns: repeat(2, 1fr);
    gap: 8px;
  }
}

@media (max-width: 480px) {
  .grid {
    grid-template-columns: 1fr;
    gap: 6px;
  }
}

.grid-card {
  font-family: styles.$inter-font;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: 0.04em;
  color: var(--gray-300);
  /* #99a1ad */
  background-color: transparent;
  border: 1px solid var(--tui-text-01);
  /*rgba(255, 255, 255, 0.1)*/
  border-radius: var(--tui-radius-l);
  padding: 0 16px 0 16px;
  display: flex;
  flex-direction: column;
}

.grid-card>h4 {
  display: inherit;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-top: 1em;
  color: var(--gray-100);
  font-size: 18px;
  font-weight: bold;
}

.grid-card>p {
  flex-grow: 1;
  /* margin-bottom: 1em; */
}

.grid-card>a {
  font-size: 15px;
  line-height: initial;
  margin-bottom: 1em;
  max-width: fit-content;
}
