@use 'src/styles';

footer {
  max-width: 850px;
  margin: 0 auto;
}

.footer-container {
  display: flex;
  margin-bottom: 76px;

  @include styles.b(mobile) {
    margin-bottom: 64px;
  }
}

section {
  > h2 {
    @include styles.font-header();

    margin-top: 0;
    margin-bottom: 28px;

    @include styles.b(mobile) {
      margin-bottom: 24px;
    }
  }

  li a {
    display: flex;
    align-items: center;

    > div {
      display: flex;
      align-items: center;
      margin-right: 15px;

      ::ng-deep svg path {
        transition: fill 0.15s ease-in-out;
      }
    }

    > span {
      @include styles.font-standard();
      position: relative;
      color: var(--gray-300);
      transition: color 0.15s ease-in-out;
    }

    > span::after {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 0.1em;
      background-color: var(--gray-100);
      transform: translateZ(0) scale(0);
      transform-origin: center;
      opacity: 1;
      transition: opacity 300ms, transform 300ms;
      content: '';
    }

    &:hover,
    &:focus {
      > span {
        color: var(--gray-100);
      }

      > span::after {
        transform: translateZ(0) scale(1);
      }

      ::ng-deep {
        > div svg path {
          fill: var(--gray-100);
        }
      }
    }
  }

  li:not(:last-child) {
    margin-bottom: 16px;

    @include styles.b(mobile) {
      margin-bottom: 20px;
    }
  }
}

.footer-sponsor-link {
  display: flex;
  margin-bottom: 40px;

  > span {
    @include styles.font-standard();
    display: flex;
    align-items: center;

    color: var(--gray-300);

    transition: color 0.15s ease-in-out;
  }

  > div {
    display: flex;
    align-items: center;
    margin-left: 9px;

    ::ng-deep svg path {
      transition: fill 0.15s ease-in-out;
    }
  }

  &:hover,
  &:focus {
    > span {
      color: var(--gray-100);
    }

    ::ng-deep {
      > div svg path {
        fill: var(--gray-100);
      }
    }
  }
}
