@use 'src/styles';

footer {
  display: flex;
  gap: 75px;
  margin-bottom: 112px;
}

section {
  > h2 {
    @include styles.font-header();

    margin-top: 0;
    margin-bottom: 28px;
  }

  li {
    display: flex;
    align-items: center;

    img {
      margin-right: 15px;
    }

    a {
      @include styles.font-standard();
      color: var(--gray-300);
    }

    &:not(:last-child) {
      margin-bottom: 16px;
    }
  }
}
