<footer>
    <div class="footer-container">
        <section>
            <h2>About Tact</h2>
            <ul>
                <li>
                    <a [link]="LINKS.DOCS">
                        <div inlineSVG="assets/images/icons/docs.svg"></div>
                        <span>Docs</span>
                    </a>
                </li>
                <li>
                    <a [link]="LINKS.DESIGN">
                        <div inlineSVG="assets/images/icons/design.svg"></div>
                        <span>Design documentation</span>
                    </a>
                </li>
                <li>
                    <a [link]="LINKS.GITHUB">
                        <div inlineSVG="assets/images/icons/github.svg"></div>
                        <span>GitHub</span>
                    </a>
                </li>
                <li>
                    <a [link]="LINKS.TELEGRAM">
                        <div inlineSVG="assets/images/icons/telegram.svg"></div>
                        <span>Telegram channel</span>
                    </a>
                </li>
                <li>
                    <a [link]="LINKS.TWITTER">
                        <div inlineSVG="assets/images/icons/twitter.svg"></div>
                        <span>Twitter</span>
                    </a>
                </li>
            </ul>
        </section>
    </div>

    <a class="footer-sponsor-link" [link]="LINKS.TON">
        <span>Sponsored by TON Foundation</span>
        <div inlineSVG="assets/images/icons/ton.svg"></div>
    </a>
</footer>