<footer>
  <section>
    <h2>About Tact</h2>
    <ul>
      <li>
        <img src="assets/images/icons/design.svg" alt="" />
        <a>Design documentation</a>
      </li>
      <li>
        <img src="assets/images/icons/specification.svg" alt="" />
        <a>Specification</a>
      </li>
      <li>
        <img src="assets/images/icons/github.svg" alt="" />
        <a>Source code on GitHub</a>
      </li>
    </ul>
  </section>

  <section>
    <h2>Contacts</h2>
    <ul>
      <li>
        <img src="assets/images/icons/telegram.svg" alt="" />
        <a>Telegram channel</a>
      </li>
      <li>
        <img src="assets/images/icons/mail.svg" alt="" />
        <a>Contact team</a>
      </li>
    </ul>
  </section>
</footer>
