<footer>
  <div class="footer-container">
    <section id="links">
      <h2>Going places</h2>
      <ul>
        <li>
          <a [link]="LINKS.IDE">
            <div inlineSVG="assets/images/icons/design.svg"></div>
            <span>Online playground and web IDE</span>
          </a>
        </li>
        <li>
          <a [link]="LINKS.PLAYGROUND">
            <div inlineSVG="assets/images/icons/design.svg"></div>
            <span>Tact by Example</span>
          </a>
        </li>
        <li>
          <a [link]="LINKS.DOCS">
            <div inlineSVG="assets/images/icons/docs.svg"></div>
            <span>Documentation</span>
          </a>
        </li>
        <li>
          <a [link]="LINKS.TELEGRAM">
            <div inlineSVG="assets/images/icons/telegram.svg"></div>
            <span>Discussion group in Telegram (Chat)</span>
          </a>
        </li>
        <li>
          <a [link]="LINKS.KITCHEN">
            <div inlineSVG="assets/images/icons/telegram.svg"></div>
            <span>Tact Kitchen (Blog)</span>
          </a>
        </li>
        <li>
          <a [link]="LINKS.GITHUB">
            <div inlineSVG="assets/images/icons/github.svg"></div>
            <span>GitHub</span>
          </a>
        </li>
        <li>
          <a [link]="LINKS.TWITTER">
            <div inlineSVG="assets/images/icons/twitter.svg"></div>
            <span>Twitter/X.com</span>
          </a>
        </li>
        <li>
          <a [link]="LINKS.BRAND_ASSETS">
            <div inlineSVG="assets/images/icons/folder.svg"></div>
            <span>Brand assets</span>
          </a>
        </li>
        <li>
          <a [link]="LINKS.TB_202501_REVIEW_ORIGIN">
            <div inlineSVG="assets/images/icons/folder.svg"></div>
            <span>Tact v1.5 security audit by Trail of Bits (PDF)</span>
          </a>
        </li>
      </ul>
    </section>
  </div>

  <a class="footer-sponsor-link" [link]="LINKS.TON" target="_blank">
    <span>Sponsored by TON Foundation</span>
    <div inlineSVG="assets/images/icons/ton.svg"></div>
  </a>
</footer>
