@use 'styles/colors';
@use 'styles/fonts';
@use 'styles/variables';
@use 'styles/html-elements';
@use 'styles/common';
@use 'styles/mixins';

@forward 'styles/breakpoints';
@forward 'styles/colors';
@forward 'styles/variables';
@forward 'styles/mixins';

* {
  box-sizing: border-box;

  appearance: none;
  -webkit-tap-highlight-color: transparent;

  &:focus {
    outline: none;
  }
}

html {
  --tui-primary: #{colors.$blue} !important;
  --tui-font-text: #{variables.$jet-brains-mono-font} !important;
  --tui-text-01: #{colors.$gray-300} !important;
  --tui-font-text-s: #{variables.$font-size-m} #{variables.$jet-brains-mono-font} #{variables.$font-weight-normal} !important;

  box-sizing: border-box;
  min-height: 100%;
  overflow-x: hidden;

  color: var(--gray-300);
  font-weight: variables.$font-weight-normal;
  font-size: variables.$font-size-m;

  font-family: variables.$jet-brains-mono-font;

  /* Same background color as in the dark docs theme */
  background-color: #17181c;

  &.burger-opened body {
    height: 100%;
    overflow: hidden;
  }

  /*::-webkit-scrollbar {
    background: none;
  }

  ::-webkit-scrollbar-thumb {
    background-color: var(--gray-600);
    border: 4px solid var(--gray-900);
    border-radius: 9px;
  }*/
}

