@use "styles/colors";
@use "styles/fonts" as *;
@use "styles/variables";

* {
  box-sizing: border-box;

  appearance: none;
  -webkit-tap-highlight-color: transparent;

  &:focus {
    outline: none;
  }
}

html {
  --tui-primary: #{colors.$blue} !important;
  --tui-font-text: #{variables.$jet-brains-mono-font} !important;
  --tui-font-text-s: #{variables.$font-size-m} #{variables.$jet-brains-mono-font} #{variables.$font-weight-normal} !important;

  box-sizing: border-box;
  min-height: 100%;
  overflow-x: hidden;

  font-family: variables.$jet-brains-mono-font;
  font-weight: variables.$font-weight-normal;
  font-size: variables.$font-size-m;
  color: var(--gray-400);

  body {
    position: relative;

    min-width: 320px;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  margin: 0;

  appearance: none;
}

button {
  padding: 0;

  background: none;
  border: none;
  cursor: pointer;
}
