@use 'styles/colors';
@use 'styles/fonts';
@use 'styles/variables';
@use 'styles/html-elements';

@forward 'styles/breakpoints';
@forward 'styles/colors';
@forward 'styles/variables';
@forward 'styles/mixins';

* {
  box-sizing: border-box;

  appearance: none;
  -webkit-tap-highlight-color: transparent;

  &:focus {
    outline: none;
  }
}

html {
  --tui-primary: #{colors.$blue} !important;
  --tui-font-text: #{variables.$jet-brains-mono-font} !important;
  --tui-text-01: #{colors.$gray-300} !important;
  --tui-font-text-s: #{variables.$font-size-m} #{variables.$jet-brains-mono-font} #{variables.$font-weight-normal} !important;

  box-sizing: border-box;
  min-height: 100%;
  overflow-x: hidden;

  color: var(--gray-300);
  font-weight: variables.$font-weight-normal;
  font-size: variables.$font-size-m;

  font-family: variables.$jet-brains-mono-font;
}

